<!DOCTYPE html>
<html ng-app="CoverSizeCalculator" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <title>Cover Size Calculator</title>

    <meta charset="utf-8" />
    <meta name="description" content="A nano-app for calculating the dimensions of book covers - useful for self-publishing." />
    <meta name="keywords" content="cover, book cover, cover size, page size, book cover calculator, cover size calculator, calculator, cover designer, publishing, self-publishing" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.benjamintmilnes.com/cover-size-calculator/" />
    <meta property="og:title" content="Cover Size Calculator" />
    <meta property="og:description" content="A nano-app for calculating the dimensions of book covers - useful for self-publishing." />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">

    <link href="style.css" type="text/css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <script src="http://www.physicsformulae.com/2dgraphicsjs/maths.js"></script>
    <script src="http://www.physicsformulae.com/2dgraphicsjs/graphics.js"></script>
    <script src="http://www.physicsformulae.com/2dgraphicsjs/application.js"></script>

    <script type="text/javascript" src="app.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>

<body ng-controller="MainController">
    <div class="controlbar">
        <h1>Cover Size Calculator</h1>
        <div class="control">
            <label for="pagewidth">Page Width:</label>
            <input type="text" id="pagewidth" ng-model="pageWidth" tabindex="1" placeholder="e.g. 17.6 cm" />
        </div>
        <div class="control">
            <label for="pageheight">Page Height:</label>
            <input type="text" id="pageheight" ng-model="pageHeight" tabindex="2" placeholder="e.g. 25.0 cm" />
        </div>
        <div class="control">
            <label for="paperthickness">Paper Thickness:</label>
            <input type="text" id="paperthickness" ng-model="paperThickness" tabindex="3" placeholder="e.g. 0.002252 in" style="width: 10em;" />
        </div>
        <div class="control">
            <label for="numberofpages">Number of Pages:</label>
            <input type="text" id="numberofpages" ng-model="numberOfPages" tabindex="4" placeholder="e.g. 350" />
        </div>
        <div class="control">
            <label for="bleed">Bleed:</label>
            <input type="text" id="bleed" ng-model="bleed" tabindex="5" placeholder="e.g. 0.125 in" />
        </div>
        <div class="control">
            <label for="showCoverCentres">Show cover centres:</label>
            <input type="checkbox" id="showCoverCentres" ng-model="showCoverCentres" />
        </div>
    </div>
    <div class="outputbox">
        <table>
            <tr>
                <td class="outputbox-heading">Total Width:</td>
                <td>
                    <input type="text" id="totalWidth" ng-model="totalWidth" tabindex="6" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#totalWidth">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Total Height:</td>
                <td>
                    <input type="text" id="totalHeight" ng-model="totalHeight" tabindex="7" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#totalHeight">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Left Bleed Edge:</td>
                <td>
                    <input type="text" id="leftBleedEdge" ng-model="leftBleedEdge" tabindex="8" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#leftBleedEdge">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Right Bleed Edge:</td>
                <td>
                    <input type="text" id="rightBleedEdge" ng-model="rightBleedEdge" tabindex="9" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#rightBleedEdge">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Top Bleed Edge:</td>
                <td>
                    <input type="text" id="topBleedEdge" ng-model="topBleedEdge" tabindex="10" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#topBleedEdge">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Bottom Bleed Edge:</td>
                <td>
                    <input type="text" id="bottomBleedEdge" ng-model="bottomBleedEdge" tabindex="11" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#bottomBleedEdge">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Left Spine Edge:</td>
                <td>
                    <input type="text" id="leftSpineEdge" ng-model="leftSpineEdge" tabindex="12" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#leftSpineEdge">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Right Spine Edge:</td>
                <td>
                    <input type="text" id="rightSpineEdge" ng-model="rightSpineEdge" tabindex="13" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#rightSpineEdge">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Front Cover Centre:</td>
                <td>
                    <input type="text" id="frontCoverCentre" ng-model="frontCoverCentre" tabindex="14" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#frontCoverCentre">Copy</button>
                </td>
            </tr>
            <tr>
                <td class="outputbox-heading">Back Cover Centre:</td>
                <td>
                    <input type="text" id="backCoverCentre" ng-model="backCoverCentre" tabindex="15" /></td>
                <td>
                    <button class="copybutton" data-clipboard-target="#backCoverCentre">Copy</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="preview">
        <canvas id="previewcanvas"></canvas>
    </div>
</body>

</html>